.posts-expand .post-header {
  font-size: $font-size-medium;
}

.posts-expand .post-title {
  font-size: 26px;
}

.post-body {
  +desktop-large() {
    font-size: $font-size-small;
  }
}

.post-body>h2 {
  font-size: 1.5em;
  border-bottom: 1px solid #eee;
}

.post-body>h3 {
  font-size: 1.25em;
  border-bottom: 1px solid #eee;
}

.post-copyright {
  font-size: $font-size-small;
  background: $whitesmoke;
  border-left: 3px solid $red;
  list-style: none;
  margin: 2em 0 0;
  padding: .5em 1em;
}
